
/* -----------
-----body style----
----------------- */

body{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     background-color:  #FFFFFF;
}

/*-------------------
 ------heading-----------
 -------------------  */

.container{
     width: 1440px;
     height: 677px;
     background-color:  #2D25A0;
     margin-bottom: 70px;
    
}

.container-flex{
     display: flex;
     justify-content: center; 
     align-items: center;
   padding-top: 100px;
    
     
}
.heading-title,.heading-banner{
     width: 100%;
    
     
}

.heading-title{
     margin: 20px;
     padding-left: 50px;
}


h1{
     font-size: 64px;
     color: #FFFFFF;
}

.button-link{
     width: 168px;
     height: 44px;
     background-color: #E02C6D;
     
}

.heading-title  a{
     font-weight: 500;
     font-size: 16px;
     text-decoration: none;
     color: #FFFFFF;

}

.fa-long-arrow-alt-right{
 margin-left: 10px;
}

.button-link:hover{
     width: 400px;
     transition: width 1s ease ;
}

.heading-banner img{
     width: 500px;
     height: 400px;
}

.heading-banner img:hover{
     transform: rotate(30deg);

}

/* main section  */
/*------------ player section style --------*/

main{
     display: flex;
     flex-direction: column;
      justify-content: center;
     align-items: center;
}

.main-container{
    width: 1050px;
    margin-bottom: 170px;
    

}

.players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-row-gap: 27px;
     grid-column-gap: 30px;

     /* justify-content: center;

     align-items: center; */
     padding: 20px;
     

     
     

}  

.player{
     display: flex;
     flex-direction: column;

     justify-content: center; 
     align-items: center;


     padding: 15px;
     
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-image img,.player-details{
     width: 100%;
     height: 50%; 
}

.player-image img{
     width: 300px;
     height: 256px;
}

.player-details h2{

 color: #18191F;
 font-size: 28px;
}
.player-details p{
     font-size: 16px;
     color: #6C6C6C;
}

/* ---------
clubs style 
-----------*/

.clubs{
     display: flex;
     justify-content: center;
     align-items: center;
}
.club{
     margin-left: 20px;
     padding: 15px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     
}
.club-thumbnail,.club-details{

width: 100%;
}


.club-thumbnail img{
     width: 300px;
     height: 256px;
}


/* --------------------
----Footer style ------------------*/

.football-icon{
     text-align: center;
     margin-bottom: 70px;
}



.football-icon img{
     width: 265px;
}
.social-icon i{
     margin-left: 5px;
}


.fab{
     width: 32px;
     height: 32px;
   
}

/* ---------------
media queries -
--------------------*/


/* ------------
  --mobile device--
  --------------- */

  @media only screen and (max-width: 668px) {

      .container{
          width: 100%;
          height: auto;
     
     }

     .container-flex{
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.heading-title,.heading-banner{
     width: 100%;
    
     
}




     main{
       
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

    .main-container{
       width: 100%;
}

.players,.clubs{
    
     grid-template-columns: repeat(1,1fr);
     grid-row-gap: 24px;
    
}
.player,.clubs{
     flex-direction: column;
     justify-content: center;
     align-items: center;
}




 }
